<div class="container">
  <div class="summary">
    <div class="card mt-5">
      <h4 class="card-header"><u>{{employee.firstName}} {{employee.lastName}}</u></h4>
      <div class="card-body">
        <div class="row">
          <div class="col-md m-3">
            <img class="img-thumbnail rounded-circle" src="{{employee.pictureUrl}}" alt="employee-picture">
          </div>
        </div>
        <div class="row mx-3">
          <div class="col-md">
            <i *ngIf="visibleEdit" class="fa fa-pencil-square-o pencil-icon" data-toggle="modal"
               data-target="#summaryChange"></i>
            <h4 class="card-title">{{employee.title}}</h4>
            <p class="break text-pre-line" data-toggle="modal" data-target="#summaryChange"
               (mouseover)="showEdit()" (mouseleave)="hideEdit()">{{employee.summary}}</p>
            <hr class="m-md-top m-sm-bottom">
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-3">
            <h5>{{ employee.yearsInCompany != 0 ? '&asymp;' + employee.yearsInCompany :'<&asymp; 1'}}</h5>
            <p>Years in company</p>
          </div>
          <div class="col-md-3">
            <h5>&asymp; {{employee.projectsNumber}}</h5>
            <p>Total projects</p>
          </div>
          <div class="col-md-3">
            <h5>&asymp; {{employee.workingPlace}}</h5>
            <p>Working place</p>
          </div>
          <div class="col-md-3">
            <h5>&asymp; {{employee.department}}</h5>
            <p>Department</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-lg" id="summaryChange" tabindex="-1" role="dialog"
       aria-labelledby="summaryChangeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="summaryChangeModalLabel">Overview</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="summary-text" class="form-control-label">Summary:</label>
              <textarea class="form-control" id="summary-text" rows="7" minlength="300" maxlength="5000"
                        [(ngModel)]="summary" name="summary"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-start">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateSummary()">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetSummary()">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
