.summary {
  width: 85%;
  margin: 0 auto;
}

.summary p:first-of-type:hover {
  cursor: pointer;
  background-color: #F9F9F9;
}

.summary hr {
  border-top: 1px solid #8c8b8b;
}

.text-pre-line {
  white-space: pre-line;
}

.break {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.pencil-icon {
  position: absolute;
  top: 35px;
  right: 10px;
  pointer-events: none;
}
