<div class="fixed-top text-center alert-dismissible fade show" role="alert">
  <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span>&times;</span>
    </button>{{message.text}}
  </div>
</div>
